@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: flex;
}

img {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Chivo";
  src: url(../font/Chivo-VariableFont_wght.ttf);
  font-family: "ChivoItalia";
  src: url(../font/Chivo-Italic-VariableFont_wght.ttf);
}
/* 共用 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* 全域不累加邊框與內距 */
}

body {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  color: #555;
  background: url(../img/noise.png), linear-gradient(rgba(39, 167, 175, 0), rgba(55, 13, 97, 0.3), rgba(169, 4, 93, 0.25), rgba(38, 87, 43, 0.25), rgba(44, 14, 74, 0.42), rgba(21, 71, 99, 0.33), rgba(115, 20, 63, 0.5), rgba(72, 55, 12, 0.31)), black;
  background-repeat: repeat, repeat, no-repeat;
  overflow-x: visible;
}

a {
  display: block;
  color: #555;
  text-decoration: none;
}

/* 頁首 */
#topbar {
  position: fixed;
  width: 100%;
  height: 150px;
  justify-content: space-between;
  display: flex;
  font-size: 1.5rem;
  z-index: 999;
}
@media (max-width: 992px) {
  #topbar {
    font-size: 1.2rem;
  }
}
@media (max-width: 640px) {
  #topbar {
    height: auto;
  }
}
#topbar .logo img {
  height: 150px;
}
@media (max-width: 992px) {
  #topbar .logo img {
    height: 120px;
  }
}
@media (max-width: 640px) {
  #topbar .logo img {
    height: 100px;
  }
}
#topbar .nav-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
@media (max-width: 640px) {
  #topbar .nav-box {
    width: 20%;
    flex-direction: column;
    justify-content: start;
    margin-top: 30px;
    padding-right: 10px;
  }
}
#topbar .nav-box .hamburger {
  display: none;
}
@media (max-width: 640px) {
  #topbar .nav-box .hamburger {
    display: block;
    /* 三條線按鈕 */
    background-color: transparent;
    border: none;
    padding: 0;
  }
  #topbar .nav-box .hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #E931CC;
    margin: 5px auto;
    transition: 0.4s;
  }
}
@media (max-width: 640px) {
  #topbar .nav-box {
    /* 三 變換為 X */
  }
  #topbar .nav-box .hamburger.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #topbar .nav-box .hamburger.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #topbar .nav-box .hamburger.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
#topbar .nav-box .menu {
  display: flex;
  padding: 30px;
}
@media (max-width: 992px) {
  #topbar .nav-box .menu {
    padding: 0px;
  }
}
@media (max-width: 640px) {
  #topbar .nav-box .menu {
    display: none;
    align-items: start;
    animation: hide 0.7s ease-in-out both;
    padding: 0;
  }
}
#topbar .nav-box .menu a {
  display: flex;
  padding: 30px;
  font-family: "Chivo";
  font-weight: 900;
  color: #E931CC;
}
@media (max-width: 640px) {
  #topbar .nav-box .menu a {
    padding: 20px;
  }
}
#topbar .nav-box .menu a:hover {
  color: #FFFFFF;
}
@media (max-width: 640px) {
  #topbar .nav-box .show {
    display: flex;
    flex-direction: column;
    animation: show 0.7s ease-in-out both;
  }
}

/* digital art */
#digitalArt {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  #digitalArt {
    flex-direction: column;
  }
}
#digitalArt .cd {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}
#digitalArt .cd .pinrotate {
  width: 40%;
  position: absolute;
  top: 10%;
  left: 60%;
  transform-origin: top left;
  z-index: 2;
  animation: pinrotate 3s forwards;
}
@media (max-width: 992px) {
  #digitalArt .cd .pinrotate {
    top: 150px;
  }
}
@media (max-width: 640px) {
  #digitalArt .cd .pinrotate {
    top: 100px;
  }
}
@keyframes pinrotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(20deg);
  }
}
#digitalArt .cd .rotate {
  width: 100%;
  position: absolute;
  top: 15%;
  left: -15%;
  z-index: -2;
  animation: rotate 60s linear infinite;
}
@media (max-width: 992px) {
  #digitalArt .cd .rotate {
    top: 250px;
  }
}
@media (max-width: 640px) {
  #digitalArt .cd .rotate {
    top: 150px;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#digitalArt .photo {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 150px;
  margin-top: 10%;
  margin-bottom: 10%;
  overflow: hidden;
  position: relative;
  height: 1050px;
  mask-image: linear-gradient(to bottom, transparent 0%, black 25%, black 75%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 25%, black 75%, transparent 100%);
}
@media (max-width: 992px) {
  #digitalArt .photo {
    margin-top: 1200px;
  }
}
@media (max-width: 640px) {
  #digitalArt .photo {
    padding: 30px;
    margin-top: 800px;
    height: 450px;
  }
}
#digitalArt .photo .carousel {
  display: flex;
  flex-direction: column-reverse;
  animation: scroll 40s linear infinite;
  transition: animation 2s ease;
}
@media (max-width: 640px) {
  #digitalArt .photo .carousel {
    animation: scroll 20s linear infinite;
  }
}
#digitalArt .photo .carousel .mask {
  background-color: rgba(206, 21, 178, 0.521);
  width: 350px;
  height: 350px;
  margin: -50px;
  transform: skew(-30deg, 9deg);
  border: 5px solid rgba(255, 255, 255, 0.839);
  border-radius: 30px;
}
@media (max-width: 640px) {
  #digitalArt .photo .carousel .mask {
    width: 170px;
    height: 170px;
    margin: -20px;
    border: 2px solid rgba(255, 255, 255, 0.839);
    border-radius: 15px;
  }
}
#digitalArt .photo .carousel .mask:hover {
  animation: sway 0.5s infinite alternate-reverse;
}
#digitalArt .photo .carousel .mask img {
  mix-blend-mode: multiply;
  object-fit: cover;
  width: 350px;
  height: 350px;
  box-shadow: 40px 50px 30px rgba(231, 58, 145, 0.315);
  border-radius: 30px;
}
@media (max-width: 640px) {
  #digitalArt .photo .carousel .mask img {
    width: 170px;
    height: 170px;
    border-radius: 15px;
  }
}
@keyframes scroll {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(1400px);
  }
}
@keyframes sway {
  0% {
    transform: skew(-30deg, 12deg);
  }
  100% {
    transform: skew(-30deg, 6deg);
  }
}

/* footer */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(119, 12, 255, 0.5), rgba(167, 21, 244, 0.6), rgba(206, 28, 235, 0.9), rgb(233, 49, 204));
}
footer .marquee {
  width: 100%;
  display: flex;
  align-items: center;
  height: 75px;
  background-color: #9E1AAA;
  border-top: 5px solid #FFFFFF;
  border-bottom: 5px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 2rem;
  font-family: "Chivo";
  font-style: italic;
  overflow: hidden;
  /* 確保溢出的內容不會顯示 */
  position: relative;
}
@media (max-width: 640px) {
  footer .marquee {
    height: 40px;
    font-size: 1.2rem;
  }
}
footer .marquee .marquee-content {
  display: flex;
  align-items: center;
  width: 800%;
  position: absolute;
  will-change: transform;
  animation: marquee 40s linear infinite;
  /* 持續 10 秒的動畫，無限循環 */
  white-space: nowrap;
}
@media (max-width: 992px) {
  footer .marquee .marquee-content {
    width: 1500%;
  }
}
@media (max-width: 640px) {
  footer .marquee .marquee-content {
    width: 2500%;
  }
  footer .marquee .marquee-content img {
    height: 15px;
  }
}
footer .marquee .marquee-content span {
  display: inline-block;
  padding: 0 50px;
  white-space: nowrap;
  letter-spacing: 2px;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
footer .contactTable {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 0 10px 0;
  border-bottom: 10px solid white;
}
@media (max-width: 640px) {
  footer .contactTable {
    padding: 5px 0 5px 0;
    border-bottom: 5px solid white;
  }
}
footer .contactTable .contactText {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 90%;
  font-family: "Chivo";
  color: #FFFFFF;
  font-size: 6rem;
  font-weight: 900;
  align-items: center;
}
@media (max-width: 992px) {
  footer .contactTable .contactText {
    font-size: 3rem;
  }
}
@media (max-width: 640px) {
  footer .contactTable .contactText {
    font-size: 2rem;
  }
}
footer .contactTable .contactText .icon {
  display: flex;
  align-self: center;
}
footer .contactTable .contactText .icon a {
  width: 40px;
  height: 40px;
  margin: 10px;
  transition: transform 0.3s ease;
}
@media (max-width: 640px) {
  footer .contactTable .contactText .icon a {
    width: 25px;
    height: 25px;
    margin: 5px;
  }
}
footer .contactTable .contactText .icon a:hover {
  transform: scale(1.2);
}
footer .contactTable .contactText .icon .icon-ig {
  background-image: url(../img/ig.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
footer .contactTable .contactText .icon .icon-fb {
  background-image: url(../img/fb.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
footer .contactTable .contactText .icon .icon-twitter {
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
footer .topbtn {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  width: 90%;
  align-self: center;
  font-family: "Chivo";
  color: #FFFFFF;
  font-size: 6rem;
  font-weight: 900;
}
@media (max-width: 992px) {
  footer .topbtn {
    font-size: 3rem;
  }
}
@media (max-width: 640px) {
  footer .topbtn {
    font-size: 2rem;
  }
}
footer .topbtn svg {
  align-self: center;
  transition: transform 0.3s ease;
}
@media (max-width: 640px) {
  footer .topbtn svg {
    height: 20px;
  }
}
footer .topbtn:hover svg {
  transform: scale(1.2);
  cursor: pointer;
}

/* #form-contact {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 25%;
    font-family: 'Chivo';
    color: $white;

    label {
        font-weight: 200;
        margin: 1vh 0 1vh 0;
        border: none;
    }

    .btn-form {
        align-self: flex-end;
        margin: 16px 0px;
        width: 7vw;
        height: 3.5vh;
        border: none;
        border-radius: 5px;

        span {
            font-family: 'Chivo';
            font-style: italic;
            font-weight: 900;
            color: $pink;
        }

    }

    input {
        border: none;
        border-radius: 5px;
        height: 3vh;
    }

    textarea {
        border: none;
        border-radius: 5px;
    }
}
 */
/* plastic */
.box {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
@media (max-width: 640px) {
  .box {
    height: 50vh;
  }
}
.box img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
@media (max-width: 640px) {
  .box img {
    height: 50vh;
  }
}

#years {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 400px;
}
#years .year {
  border-top: 10px solid transparent;
  border-image: linear-gradient(to right, rgba(189, 34, 173, 0.368627451), rgba(90, 25, 72, 0.8274509804), rgba(133, 66, 200, 0.5411764706), rgba(177, 72, 40, 0.5764705882), rgba(40, 70, 219, 0.4941176471), rgba(229, 231, 85, 0.4196078431));
  border-image-slice: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*         width: 100%; */
  height: auto;
  padding: 0 0 30px 0;
  opacity: 0;
  transition: opacity 3s ease;
}
@media (max-width: 640px) {
  #years .year {
    padding: 0 0 10px 0;
  }
}
#years .year.visible {
  opacity: 1;
}
#years .year .yearimg {
  display: block;
  width: auto;
  height: 130px;
  cursor: pointer;
  transition: transform 0.5s ease;
}
@media (max-width: 992px) {
  #years .year .yearimg {
    height: 80px;
  }
}
@media (max-width: 640px) {
  #years .year .yearimg {
    height: 60px;
  }
}
#years .year .yearimg.move-left {
  transform: translateX(-30%);
}
#years .year .expanded-images {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 600px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  overflow-x: auto;
  position: relative;
}
@media (max-width: 992px) {
  #years .year .expanded-images {
    height: 400px;
  }
}
@media (max-width: 640px) {
  #years .year .expanded-images {
    height: 200px;
  }
}
#years .year .expanded-images::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#years .year .expanded-images img {
  height: 550px;
  padding: 0 10px;
  object-fit: cover;
  display: inline-block;
}
@media (max-width: 992px) {
  #years .year .expanded-images img {
    height: 370px;
  }
}
@media (max-width: 640px) {
  #years .year .expanded-images img {
    height: 190px;
  }
}
#years .year .expanded-images:hover {
  cursor: pointer;
}

/* CYCLE */
#prev,
#next {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: transparent;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
  height: 50px;
  width: 50px;
  object-fit: cover;
}
@media (max-width: 640px) {
  #prev,
  #next {
    top: 25%;
    height: 32px;
    width: 32px;
  }
}

#prev {
  background-image: url(../img/ArrowL.svg);
  left: 10px;
  background-size: cover;
}

#next {
  background-image: url(../img/ArrowR.svg);
  right: 10px;
  background-size: cover;
}

/* cart */
.cart {
  border: none;
  background-color: transparent;
  z-index: 100;
  cursor: pointer;
  padding: 0 30px;
  position: relative;
}
@media (max-width: 640px) {
  .cart {
    padding-top: 30px;
  }
}
.cart svg {
  width: 48px;
  height: 48px;
}
@media (max-width: 992px) {
  .cart svg {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 640px) {
  .cart svg {
    width: 24px;
    height: 24px;
  }
}

.cart-count {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  display: none;
  /* 初始隱藏 */
}

/* shop */
.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.wrap .bannerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 200px;
}
@media (max-width: 992px) {
  .wrap .bannerContainer {
    padding-top: 150px;
  }
}
.wrap .bannerContainer .bannerImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 70%;
}
@media (max-width: 992px) {
  .wrap .bannerContainer .bannerImg {
    width: 90%;
  }
}
@media (max-width: 640px) {
  .wrap .bannerContainer .bannerImg {
    width: 100%;
  }
}
.wrap .bannerContainer .bannerImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.wrap .bannerContainer .cycle-pager {
  display: flex;
  padding-top: 10px;
}
.wrap .bannerContainer .cycle-pager a {
  color: black;
  text-decoration: none;
  margin: 5px;
  display: inline-block;
  /* 水平堆疊 */
  /*             border: 3px solid black;*/
  width: 10px;
  height: 10px;
  border-radius: 50%;
  color: transparent;
  text-align: center;
  line-height: 20px;
  background-color: #FFFFFF;
}
.wrap .bannerContainer .cycle-pager a.activeSlide {
  background-color: #E931CC;
}
.wrap #items {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 10%;
}
.wrap #items .row {
  height: 50%;
  width: 70%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .wrap #items .row {
    width: 90%;
  }
}
.wrap #items .row .item {
  margin-top: 10%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1200px) {
  .wrap #items .row .item {
    width: 50%;
  }
}
@media (max-width: 640px) {
  .wrap #items .row .item {
    width: 100%;
  }
}
.wrap #items .row .item .imgContainer {
  position: relative;
  display: inline-block;
}
.wrap #items .row .item .imgContainer .plus {
  position: absolute;
  background-color: transparent;
  bottom: 5%;
  right: 5%;
  border: none;
  cursor: pointer;
  z-index: 99;
}
.wrap #items .row .item .imgContainer .plus svg {
  width: 40px;
  height: 40px;
}
.wrap #items .row .item .imgContainer .imgItem {
  border-radius: 20px;
  width: 200px;
  height: 200px;
  transition: transform 0.3s ease;
}
@media (max-width: 1200px) {
  .wrap #items .row .item .imgContainer .imgItem {
    width: 280px;
    height: 280px;
  }
}
.wrap #items .row .item .imgContainer .imgItem:hover {
  transform: scale(1.1);
}
.wrap #items .row .item .imgContainer .imgItem img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrap #items .row .item .productName {
  display: block;
  font-family: Chivo;
  color: #FFFFFF;
  font-weight: 800;
  padding-top: 30px;
  font-size: 1.5rem;
}
.wrap #items .row .item .productName:hover {
  text-decoration: underline;
}
.wrap #items .row .item .price {
  display: block;
  font-family: Chivo;
  color: #50CBF2;
  font-weight: 800;
  padding-top: 10px;
  font-size: 1.5rem;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* 50% 不透明度的黑色背景 */
  z-index: 999;
  /* 使 .overlay 位於其他元素之上 */
}
.overlay .overlay-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 100px;
  background-color: white;
  z-index: 9999;
  /* 确保覆盖在其他元素之上 */
  display: none;
  /* 默认隐藏 */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 15px;
}
.overlay .overlay-content .cancel {
  display: flex;
  justify-content: end;
  cursor: pointer;
}
.overlay .overlay-content .atcbtn {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.overlay .overlay-content .atcbtn .atc {
  padding: 5px 20px;
  font-family: "Chivo";
  font-style: italic;
  font-size: 20px;
  font-weight: 100;
  border: none;
  background-color: #E931CC;
  border-radius: 5px;
  color: white;
}

/* product */
.container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.container .infoContainer {
  width: 80%;
  padding: 200px 0;
  display: flex;
}
@media (max-width: 992px) {
  .container .infoContainer {
    flex-direction: column;
    align-items: center;
    padding: 150px 0;
    width: 100%;
    height: auto;
  }
}
.container .infoContainer #productImg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
@media (max-width: 992px) {
  .container .infoContainer #productImg {
    width: 100%;
    margin-bottom: 50px;
  }
}
.container .infoContainer #productImg .bigImg {
  width: 80%;
  height: 70%;
}
.container .infoContainer #productImg .bigImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}
.container .infoContainer #productImg .smallImg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: auto;
}
.container .infoContainer #productImg .smallImg img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}
@media (max-width: 1500px) {
  .container .infoContainer #productImg .smallImg img {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 1300px) {
  .container .infoContainer #productImg .smallImg img {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 1150px) {
  .container .infoContainer #productImg .smallImg img {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 992px) {
  .container .infoContainer #productImg .smallImg img {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 640px) {
  .container .infoContainer #productImg .smallImg img {
    width: 75px;
    height: 75px;
  }
}
.container .infoContainer #productImg .smallImg img:hover {
  transform: scale(1.1);
}
.container .infoContainer #lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}
.container .infoContainer #lightbox .lightbox-content {
  position: relative;
  margin: auto;
  padding: 20px;
  width: 80%;
  max-width: 700px;
}
.container .infoContainer #lightbox .lightbox-content img {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 700px;
}
.container .infoContainer #lightbox .lightbox-content .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
.container .infoContainer #lightbox .lightbox-content .close:hover, .container .infoContainer #lightbox .lightbox-content .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.container .infoContainer #lightbox .lightbox-content .lightbox-thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.container .infoContainer #lightbox .lightbox-content .lightbox-thumbnails img {
  width: 100px;
  height: 100px;
  margin: 0 10px;
  cursor: pointer;
}
.container .infoContainer #lightbox .lightbox-content .lightbox-thumbnails img:hover {
  opacity: 0.8;
}
.container .infoContainer #productInfo {
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .container .infoContainer #productInfo {
    align-items: center;
    width: 80%;
  }
}
.container .infoContainer #productInfo .infoTitle {
  font-family: "Chivo";
  font-size: 2rem;
  font-weight: 900;
  color: #FFFFFF;
  padding-bottom: 20px;
}
.container .infoContainer #productInfo .infoA {
  font-family: "Chivo";
  font-size: 1.2rem;
  font-weight: 600;
  color: #D9D9D9;
  padding: 10px 0;
}
.container .infoContainer #productInfo .infoPrice {
  font-family: "Chivo";
  font-size: 2rem;
  font-weight: 900;
  color: #50CBF2;
  display: block;
  padding: 100px 0;
}
@media (max-width: 992px) {
  .container .infoContainer #productInfo .quaB {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.container .infoContainer #productInfo .quaB .infoQua {
  font-family: "Chivo";
  font-size: 1.5rem;
  font-weight: 900;
  color: #FFFFFF;
}
.container .infoContainer #productInfo .quaB .quaBtn {
  padding-top: 20px;
  display: flex;
  align-items: center;
}
.container .infoContainer #productInfo .quaB .quaBtn button {
  cursor: pointer;
}
.container .infoContainer #productInfo .quaB .quaBtn .quaMinus {
  background-color: transparent;
  border: none;
}
.container .infoContainer #productInfo .quaB .quaBtn svg {
  width: 40px;
  height: 40px;
}
.container .infoContainer #productInfo .quaB .quaBtn .quaNum {
  margin: 0 20px;
  font-size: 1.5rem;
  font-weight: 900;
  color: #FFFFFF;
  text-align: center;
}
.container .infoContainer #productInfo .quaB .quaBtn .quaPlus {
  background-color: transparent;
  border: none;
}
.container .infoContainer #productInfo .quaB .buyBtn {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  width: 100%;
}
.container .infoContainer #productInfo .quaB .buyBtn button {
  width: 100%;
  height: 60px;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.container .infoContainer #productInfo .quaB .buyBtn .atc {
  font-family: "Chivo";
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 100;
}
.container .infoContainer #productInfo .quaB .buyBtn .bn {
  font-family: "Chivo";
  font-style: italic;
  font-size: 2rem;
  font-weight: 900;
  background-color: #E931CC;
  color: #FFFFFF;
}
.container .infoContainer #productInfo .quaB .buyBtn .paypal {
  background-color: #E8DF0B;
}
.container .infoContainer #productInfo .quaB .buyBtn .paypal img {
  width: 100%;
  object-fit: cover;
}

#incart {
  position: fixed;
  right: -500px;
  top: 0;
  width: 500px;
  height: 100vh;
  box-sizing: border-box;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  transition: right 0.5s;
  z-index: 1001;
}
@media (max-width: 640px) {
  #incart {
    right: -300px;
    width: 300px;
  }
}
#incart .incartTitle {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  font-family: "Chivo";
  font-size: 2rem;
  font-weight: 900;
  color: #E931CC;
  border-bottom: 1px solid #161616;
}
#incart .incartTitle .cancel {
  cursor: pointer;
}
#incart .incartContent {
  display: flex;
  padding: 40px 25px;
}
@media (max-width: 640px) {
  #incart .incartContent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }
}
#incart .incartContent .incartImg img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
#incart .incartContent .incartInfo {
  padding: 0 0 0 40px;
}
@media (max-width: 640px) {
  #incart .incartContent .incartInfo {
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#incart .incartContent .incartInfo h2 {
  font-family: "Chivo";
  font-size: 20px;
  font-weight: 900;
}
#incart .incartContent .incartInfo .quaBtn {
  display: flex;
  align-items: center;
  padding: 30px 0;
}
#incart .incartContent .incartInfo .quaBtn button {
  border: 0;
  background: transparent;
  cursor: pointer;
}
#incart .incartContent .incartInfo .quaBtn p {
  font-family: "Chivo";
  font-size: 20px;
  font-weight: 900;
  display: block;
  padding: 20px;
}
#incart .incartContent .incartInfo h3 {
  font-family: "Chivo";
  font-size: 20px;
  font-weight: 900;
  color: #555;
}
#incart .incartTotal {
  margin: 0 25px;
  padding: 20px;
  background-color: #D9D9D9;
  border-radius: 10px;
}
#incart .incartTotal .incartTotalContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-family: "Chivo";
  color: #E931CC;
  font-size: 20px;
}
#incart .incartTotal button {
  width: 100%;
  height: 40px;
  border: 0;
  border-radius: 10px;
  background-color: #E931CC;
  font-family: "Chivo";
  color: #FFFFFF;
  font-size: 20px;
  font-style: italic;
  cursor: pointer;
}

.overlay2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}/*# sourceMappingURL=test.css.map */