$pink: #E931CC;
$blue: #50CBF2;
$lightg: #D9D9D9;
$deepg: #5E5E5E;
$white: #FFFFFF;
$black: #161616;
$purple: #9E1AAA;
$yellow:#E8DF0B;

$lightbox-bg-color: rgba(0, 0, 0, 0.9);
$lightbox-z-index: 1000;
$lightbox-padding-top: 60px;
$lightbox-max-width: 700px;
$lightbox-img-width: 100%;
$close-btn-color: #fff;
$close-btn-hover-color: #bbb;
$close-btn-font-size: 40px;
$thumbnail-width: 100px;
$thumbnail-height: 100px;
$thumbnail-margin: 0 10px;

$banner-width: 65%;