@use 'reset';
@use 'variable' as *;
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

@font-face {
    font-family: 'Chivo';
    src: url(../font/Chivo-VariableFont_wght.ttf);
    font-family: 'ChivoItalia';
    src: url(../font/Chivo-Italic-VariableFont_wght.ttf);
}

/* 共用 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* 全域不累加邊框與內距 */
}

body {
    width: 100%;
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    color: #555;
    background: url(../img/noise.png), linear-gradient(rgba(39, 167, 175, 0), rgba(55, 13, 97, .30), rgba(169, 4, 93, .25), rgba(38, 87, 43, .25), rgba(44, 14, 74, .42), rgba(21, 71, 99, .33), rgba(115, 20, 63, .50), rgba(72, 55, 12, .31)), conic-gradient(from 180deg, rgba(188, 0, 23, .24) 25deg, rgba(36, 9, 12, .3) 50deg, rgba(0, 0, 0, .3) 144deg, rgba(24, 108, 48, .3) 215deg, rgba(71, 13, 13, .3) 250deg, rgba(6, 60, 91, .3) 288deg, rgba(188, 0, 23, .24) 358deg), rgb(0, 0, 0);
}

a {
    display: block;
    color: #555;
    text-decoration: none;
}

/* 頁首 */
#topbar {
    position: fixed;
    width: 100%;
    height: 10vw;
    justify-content: space-between;
    display: flex;
    font-size: 1.5rem;
    z-index: 999;

    img {
        width: 20vw;
    }

    .nav-box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .menu {
        display: flex;
        margin-right: 2vw;

        a {
            display: flex;
            margin: 2vw;
            /*     border:1px solid #161616; */
            font-family: 'Chivo';
            font-weight: 900;
            color: $pink;

            &:hover {
                color: #FFFFFF;
            }
        }
    }
}

/* digital art */

#digitalArt {
    display: flex;
    justify-content: space-between;

    .cd {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;

        .pinrotate {
            width: 20vw;
            position: absolute;
            top: 300px;
            left: 20vw;
            transform-origin: top left;
            z-index: 2;

            @keyframes pinrotate {
                from {
                    transform: rotate(0deg);
                }

                to {
                    transform: rotate(20deg);
                }
            }

            animation: pinrotate 3s forwards;
        }

        .rotate {
            width: 40vw;
            position: absolute;
            top: 400px;
            left: -8vw;
            z-index: -2;

            @keyframes rotate {
                from {
                    transform: rotate(0deg);
                }

                to {
                    transform: rotate(360deg);
                }
            }

            animation: rotate 60s linear infinite;
        }

    }

    .photo {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 15vh;
        margin-top: 20vh;
        overflow: hidden;
        position: relative;
        height: calc(20vw * 3); // Display area for 3 images    
        mask-image: linear-gradient(to bottom, transparent 0%, black 25%, black 75%, transparent 100%);

        .carousel {
            display: flex;
            flex-direction: column-reverse;
            animation: scroll 40s linear infinite;
            transition: animation-play-state 2s ease; // 添加过渡效果
            transition: transform 2s ease;
        }

        .mask {
            background-color: rgba(206, 21, 178, 0.521);
            width: 20vw;
            height: 20vw;
            margin: -3vw;
            transform: skew(-30deg, 9deg);
            border: 5px solid rgba(255, 255, 255, 0.839);
            border-radius: 30px;

            img {
                mix-blend-mode: multiply;
                object-fit: cover;
                width: 20vw;
                height: 20vw;
                box-shadow: 2vw 3vh 30px rgba(231, 58, 145, 0.315);
                border-radius: 30px;
            }
        }

        &:hover {
            .carousel {
                img{
                animation-play-state: paused;
                will-change: transform;
                transition: transform 2s ease;
            }

        }
    }
    }
    
    @keyframes scroll {
        0% {
            transform: translateY(100%);
        }

        100% {
            transform: translateY(calc(-20vw * 4));
        }
    }
}


/* footer */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(119, 12, 255, .5), rgba(167, 21, 244, .6), rgba(206, 28, 235, .9), rgba(233, 49, 204, 1));

    .marquee {
        width: 100%;
        height: 75px;
        background-color: $purple;
        border-top: 10px solid #FFFFFF;
        border-bottom: 10px solid #FFFFFF;
    }

    .contactTable {
        display: flex;
        flex-direction: column;

        .contactText {
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-family: 'Chivo';
            color: #FFFFFF;
            font-size: 6rem;
            font-weight: 900;
            padding: 2vh 0vw 1vh 6rem;

            .icon {
                display: flex;
                align-self: center;
                margin-right: 10vw;

                a {
                    width: 40px;
                    height: 40px;
                    margin: 10px;
                    transition: transform 0.3s ease; // 添加過渡效果

                    &:hover {
                        transform: scale(1.2); // hover時放大 1.1 倍
                    }
                }

                .icon-ig {
                    background-image: url(../img/ig.svg);
                    background-repeat: no-repeat;

                }

                .icon-fb {
                    background-image: url(../img/fb.svg);
                    background-repeat: no-repeat;

                }

                .icon-twitter {
                    background-image: url(../img/twitter.svg);
                    background-repeat: no-repeat;
                }
            }
        }
    }

    #form-contact {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 25%;
        font-family: 'Chivo';
        color: $white;

        label {
            font-weight: 200;
            margin: 1vh 0 1vh 0;
            border: none;
        }

        .btn-form {
            align-self: flex-end;
            margin: 16px 0px;
            width: 7vw;
            height: 3.5vh;
            border: none;
            border-radius: 5px;

            span {
                font-family: 'Chivo';
                font-style: italic;
                font-weight: 900;
                color: $pink;
            }

        }

        input {
            border: none;
            border-radius: 5px;
            height: 3vh;
        }

        textarea {
            border: none;
            border-radius: 5px;
        }
    }

    .topbtn {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-family: 'Chivo';
        color: #FFFFFF;
        font-size: 6rem;
        font-weight: 900;
        border-top: 10px solid white;
        margin-top: 2vh;
        padding: 2vh 10vw 5vh 22rem;

        svg {
            align-self: center;
            transition: transform 0.3s ease; // 添加過渡效果
        }

        &:hover {
            svg {
                transform: scale(1.2); // hover 時放大 10%
                cursor: pointer;
            }
        }
    }
}

/* plastic */


.box {
    width: 100%;
    height: 100vh;
    object-fit: cover;

    img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}

#years {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 50vh;

    .year {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 25vh;
        border-top: 0.5vh solid white;
        opacity: 0;
        transform: translateY(5vh);
        position: relative;
        &.show {
            opacity: 1;
            transform: translateY(0);

        }

        img {
            margin-right: 10vw;
            cursor: pointer;
        }

        .expanded-images {
            display: none;
            flex-wrap: nowrap;
            justify-content: start;
            align-items: center;
            padding: 10px;
            width: 100%;
            height: 0;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 100%;
            left: 0;
            white-space: nowrap; // 保持圖片在一行
            overflow-x: hidden;
            overflow-y: hidden;

            img {
                height: 45vh;
                margin: 2vw;
                object-fit: cover;
                display: inline-block; // 保持圖片在一行

            }

        }
    }

    .expanded {
        .expanded-images {
            display: flex;
            height: 50vh;
            cursor: move;
            img{
                cursor: default;
            }

        }
    }
}

/* CYCLE */
#prev,
#next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

/* cart */
.cart {
    border: none;
    background-color: transparent;
    position: fixed;
    right: 5vw;
    top: 20vh;

    svg {
        width: 48px;
        height: 48px;
    }
}




/* shop */



#shopBanner {
    justify-content: center;
    margin-bottom: 8vh;

    .bannerContainer {
        /* JQ未加 */
        display: inline-block;
        position: e;

        .bannerImg {
            height: 30vw;
            width: 70vw;
            margin-top: 30vh;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 30px;

            }
        }
    }
}

#items {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20vh;

    .row {
        height: 20vw;
        width: 60vw;
        padding: 3vh 0;
        display: flex;
        justify-content: space-between;

        .item {
            width: 20%;

            .imgContainer {
                position: relative;
                display: inline-block;

                .plus {
                    position: absolute;
                    background-color: transparent;
                    bottom: 5%;
                    right: 5%;
                    border: none;

                    svg {
                        width: 2.5vw;
                        height: 2.5vw;
                    }
                }

                .imgItem {
                    border-radius: 20px;
                    width: 10vw;
                    height: 10vw;
                }

                .it01 {
                    background-image: url(../img/illus/Staircase.jpg);
                    background-size: cover;
                }

                .it02 {
                    background-image: url(../img/illus/Moai.jpg);
                    background-size: cover;
                }

                .it03 {
                    background-image: url(../img/illus/Chaos.jpg);
                    background-size: cover;
                }

                .it04 {
                    background-image: url(../img/illus/call\ me.jpg);
                    background-size: cover;
                }

                .it05 {
                    background-image: url(../img/plastic/2022/a03.jpg);
                    background-size: cover;
                }

                .it06 {
                    background-image: url(../img/plastic/2022/c01.jpg);
                    background-size: cover;
                }

                .it07 {
                    background-image: url(../img/plastic/2022/b01.jpg);
                    background-size: cover;
                }

                .it08 {
                    background-image: url(../img/plastic/2018/03.jpg);
                    background-size: cover;
                }
            }

            .productName {
                display: block;
                font-family: Chivo;
                color: $white;
                font-weight: 800;
                padding-top: 3vh;
                font-size: 1.5rem;
            }

            .price {
                display: block;
                font-family: Chivo;
                color: $blue;
                font-weight: 800;
                padding-top: 10px;
                font-size: 1.5rem;

            }
        }
    }
}

.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 100px;
    background-color: $pink;
    /* 半透明黑色背景 */
    z-index: 9999;
    /* 确保覆盖在其他元素之上 */
    display: none;
    /* 默认隐藏 */
    border-radius: 10px;



    .overlay-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 15px;

        .cancel {
            display: flex;
            justify-content: end;
        }

        .atcbtn {
            display: flex;
            justify-content: center;
            padding-top: 20px;

            .atc {
                padding: 0 10px;
                font-family: 'Chivo';
                font-style: italic;
                font-size: 1.5rem;
                font-weight: 100;

            }
        }
    }

}


/* product */
.container {
    display: flex;
    justify-content: center;

    .infoContainer {
        width: 70vw;
        height: 58vh;
        margin: 25vh 0;

        padding: 0 8%;
        display: flex;
        justify-content: space-between;

        #productImg {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 25vw;

            .bigImg {
                width: 25vw;
                height: 25vw;
                margin-bottom: 3vh;

                img {
                    width: 25vw;
                    height: 25vw;
                    object-fit: cover;
                    border-radius: 1vw;

                }
            }

            .smallImg {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 25vw;
                height: 5vw;

                img {
                    width: 20%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 1vw;

                }
            }
        }

        #productInfo {
            width: 25vw;
            flex-direction: column;
            justify-content: space-between;

            .infoTitle {
                font-family: 'Chivo';
                font-size: 1.5rem;
                font-weight: 900;
                color: $white;
                padding-bottom: 20px;
            }

            .infoA {
                font-family: 'Chivo';
                font-size: 1.2rem;
                font-weight: 600;
                color: $lightg;
            }

            .infoPrice {
                font-family: 'Chivo';
                font-size: 2rem;
                font-weight: 900;
                color: $blue;
            }

            .infoQua {
                font-family: 'Chivo';
                font-size: 1.5rem;
                font-weight: 900;
                color: $white;
            }

            .quaBtn {
                padding-top: 20px;
                display: flex;
                align-items: center;

                .quaMinus {
                    background-color: transparent;
                    border: none;
                }

                svg {
                    width: 40px;
                    height: 40px;
                }

                .quaNum {
                    margin: 0 1vw;
                    font-size: 1.5rem;
                    font-weight: 900;
                    color: $white;
                    text-align: center;
                }

                .quaPlus {
                    background-color: transparent;
                    border: none;
                }
            }

            .buyBtn {
                display: flex;
                flex-direction: column;
                padding-top: 20px;

                button {
                    width: 100%;
                    height: 6vh;
                    margin-top: 1vh;
                    border-radius: 1vw;
                }

                .atc {
                    font-family: 'Chivo';
                    font-style: italic;
                    font-size: 1.5rem;
                    font-weight: 100;
                }

                .bn {
                    font-family: 'Chivo';
                    font-style: italic;
                    font-size: 2rem;
                    font-weight: 900;
                    background-color: $pink;
                    color: $white;
                }

                .paypal {
                    background-color: $yellow;

                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

    }
}