@use 'reset';
@use 'variable' as *;
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

@font-face {
    font-family: 'Chivo';
    src: url(../font/Chivo-VariableFont_wght.ttf);
    font-family: 'ChivoItalia';
    src: url(../font/Chivo-Italic-VariableFont_wght.ttf);
}
/* 共用 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* 全域不累加邊框與內距 */
}

body {
    width: 100%;
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    color: #555;
    background: url(../img/noise.png), linear-gradient(rgba(39, 167, 175, 0), rgba(55, 13, 97, .30), rgba(169, 4, 93, .25), rgba(38, 87, 43, .25), rgba(44, 14, 74, .42), rgba(21, 71, 99, .33), rgba(115, 20, 63, .50), rgba(72, 55, 12, .31)), conic-gradient(from 180deg, rgba(188, 0, 23, .24) 25deg, rgba(36, 9, 12, .3) 50deg, rgba(0, 0, 0, .3) 144deg, rgba(24, 108, 48, .3) 215deg, rgba(71, 13, 13, .3) 250deg, rgba(6, 60, 91, .3) 288deg, rgba(188, 0, 23, .24) 358deg), rgb(0, 0, 0);
}

a {
    display: block;
    color: #555;
    text-decoration: none;
}

/* 頁首 */
#topbar {
    position: fixed;
    width: 100%;
    height: 240px;
    justify-content: space-between;
    display: flex;
    font-size: 1.5rem;
    z-index: 999;
    .nav-box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .menu {
        display: flex;
        margin-right: 2vw;
        a {
            display: flex;
            margin: 2vw;
            /*     border:1px solid #161616; */
            font-family: 'Chivo';
            font-weight: 900;
            color: $pink;
        }
    }
}

/* digital art */

#digitalArt {
    display: flex;
    justify-content: space-between;
    .cd {
        display: flex;
        flex-direction: column;
        width: 100%;
        .pin img {
            width: 30vw;
            position: absolute;
            top: 40vh;
            left: 18vw;
        }
        .circle img {
            width: 40vw;
            position: absolute;
            top: 60vh;
            left: -8vw;
        }
    }
    .photo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15vh;
        margin-top: 40vh;
        /*     position: relative;
        top: 100px;
        left: 1650px; */
        img {
            mask-image: url(../img/pink.svg);
            object-fit: cover;
            width: 20vw;
            height: 20vw;
            transform: skew(-25deg, 5deg);
            margin: -3vw;
            border: 5px solid rgba(89, 89, 89, 3);
            /*     border-image: linear-gradient(rgb(93,93,93),rgb(200,200,200),rgb(232,232,232),rgb(113,113,113) .5);
         */
            border-radius: 30px;
        }
        
    }

}

/* footer */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(119, 12, 255, .5), rgba(167, 21, 244, .6), rgba(206, 28, 235, .9), rgba(233, 49, 204, 1));
    .marquee {
        width: 100%;
        height: 75px;
        background-color: $purple;
        border-top: 10px solid #FFFFFF;
        border-bottom: 10px solid #FFFFFF;
    }
    .contactTable {
        display: flex;
        flex-direction: column;
        .contactText {
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-family: 'Chivo';
            color: #FFFFFF;
            font-size: 6rem;
            font-weight: 900;
            padding: 2vh 0vw 1vh 6rem;
            
            .icon {
                display: flex;
                align-self: center;
                margin-right: 10vw;
                a {
                    width: 40px;
                    height: 40px;
                    margin: 10px;
                }
                .icon-ig {
                    background-image: url(../img/ig.svg);
                    background-repeat: no-repeat;
                
                }
                
                .icon-fb {
                    background-image: url(../img/fb.svg);
                    background-repeat: no-repeat;
                
                }
                
                .icon-twitter {
                    background-image: url(../img/twitter.svg);
                    background-repeat: no-repeat;
                }
            }
        }
    }
    #form-contact {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 25%;
        font-family: 'Chivo';
        color: $white;
        label {
            font-weight: 200;        
            margin: 1vh 0 1vh 0;
            border: none;
        }
        .btn-form {
            align-self: flex-end;
            margin: 16px 0px;
            width: 7vw;
            height: 3.5vh;
            border: none;
            border-radius: 5px;
            span {
                font-family: 'Chivo';
                font-style: italic;
                font-weight: 900;
                color: $pink;
            }
            
        }
        input {
            border: none;
            border-radius: 5px;
            height: 3vh;
        }
        textarea {
            border: none;
            border-radius: 5px;
        }
    }
    .topbtn {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-family: 'Chivo';
        color: #FFFFFF;
        font-size: 6rem;
        font-weight: 900;
        border-top: 10px solid white;
        margin-top: 2vh;
        padding: 2vh 10vw 5vh 22rem;
    }
}