@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

@font-face {
    font-family: 'Chivo';
    src: url(./font/Chivo-VariableFont_wght.ttf);
    font-family: 'ChivoItalia';
    src: url(./font/Chivo-Italic-VariableFont_wght.ttf);
    /* 盡量不要有空格 會誤判 */
}

/* 如果連接googlefont notosans就不要放在body-fontfamily的第一個 */

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: flex;

}

img {
    display: block;
}

body {
    line-height: 1;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*eric/css/reset/end*/

/* 共用區 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* 全域不累加邊框與內距 */
}

body {
    width: 100%;
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    color: #555;
    background: url(./img/noise.png), linear-gradient(rgba(39, 167, 175, 0), rgba(55, 13, 97, .30), rgba(169, 4, 93, .25), rgba(38, 87, 43, .25), rgba(44, 14, 74, .42), rgba(21, 71, 99, .33), rgba(115, 20, 63, .50), rgba(72, 55, 12, .31)), conic-gradient(from 180deg, rgba(188, 0, 23, .24) 25deg, rgba(36, 9, 12, .3) 50deg, rgba(0, 0, 0, .3) 144deg, rgba(24, 108, 48, .3) 215deg, rgba(71, 13, 13, .3) 250deg, rgba(6, 60, 91, .3) 288deg, rgba(188, 0, 23, .24) 358deg), rgb(0, 0, 0);
}

a {
    display: block;
    color: #555;
    text-decoration: none;
}


/* 變數區 */
:root {
    --pink: #E931CC;
    --blue: #50CBF2;
    --lightg: #D9D9D9;
    --deepg: #5E5E5E;
    --white: #FFFFFF;
    --black: #161616;
    --purple: #9E1AAA;
}

/* .chivo-regular{
    font-family: 'Chivo';
    font-weight: 400;
} */
/* .chivo-black{
    font-family: 'Chivo';
    font-weight: 900;
} */

/* 頁首 */
#topbar {
    position: fixed;
    width: 100%;
    height: 240px;
    justify-content: space-between;
    display: flex;
    font-size: 1.5rem;
    z-index: 999;
}


.nav-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.menu {
    display: flex;
    margin-right: 2vw;
}

.menu a {
    display: flex;
    margin: 2vw;
    /*     border:1px solid #161616; */
    font-family: 'Chivo';
    font-weight: 900;
    color: var(--pink);
}

/* digitalArt */

#digitalArt {
    display: flex;
    justify-content: space-between;
}

.cd {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.circle img {
    width: 40vw;
    position: absolute;
    top: 60vh;
    left: -8vw;
}

.pin img {
    width: 30vw;
    position: absolute;
    top: 40vh;
    left: 18vw;
}

.photo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15vh;
    margin-top: 40vh;
    /*     position: relative;
    top: 100px;
    left: 1650px; */
}

.photo img {

    mask-image: url(./img/pink.svg);
    object-fit: cover;
    width: 20vw;
    height: 20vw;
    transform: skew(-25deg, 5deg);
    margin: -3vw;
    border: 5px solid rgba(89, 89, 89, 3);
    /*     border-image: linear-gradient(rgb(93,93,93),rgb(200,200,200),rgb(232,232,232),rgb(113,113,113) .5);
 */
    border-radius: 30px;
}

/* footer */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(119, 12, 255, .5), rgba(167, 21, 244, .6), rgba(206, 28, 235, .9), rgba(233, 49, 204, 1));
}

.marquee {
    width: 100%;
    height: 75px;
    background-color: var(--purple);
    border-top: 10px solid #FFFFFF;
    border-bottom: 10px solid #FFFFFF;
}

.contactTable {
    display: flex;
    flex-direction: column;

}

.contactText {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Chivo';
    color: #FFFFFF;
    font-size: 6rem;
    font-weight: 900;
    padding: 2vh 0vw 1vh 6rem;
}

.icon {
    display: flex;
    align-self: center;
    margin-right: 10vw;
}

.icon a {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.icon-ig {
    background-image: url(./img/ig.svg);
    background-repeat: no-repeat;

}

.icon-fb {
    background-image: url(./img/fb.svg);
    background-repeat: no-repeat;

}

.icon-twitter {
    background-image: url(./img/twitter.svg);
    background-repeat: no-repeat;
}

.contactIcon img {
    padding: 16px;
}

#form-contact {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 25%;
    font-family: 'Chivo';
    color: var(--white);
}

#form-contact label {
    margin: 1vh 0 1vh 0;
    border: none;
}

.btn-form {

    align-self: flex-end;
    margin: 16px 0px;
    width: 7vw;
    height: 3.5vh;
    border: none;
    border-radius: 5px
}

label {
    font-family: 'Chivo';
    font-weight: 200;

}

input {
    border: none;
    border-radius: 5px;
    height: 3vh;
}

textarea {
    border: none;
    border-radius: 5px;
}

footer span {
    font-family: 'Chivo';
    font-style: italic;
    font-weight: 900;
    color: var(--pink);

}

.topbtn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Chivo';
    color: #FFFFFF;
    font-size: 6rem;
    font-weight: 900;
    border-top: 10px solid white;
    margin-top: 2vh;
    padding: 2vh 10vw 5vh 22rem;

}


/* plastic */
.cycle-slideshow img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.box {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#years {
    flex-direction: column;
}

#years div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25vh;
    border-top: 10px solid white;
}

#years img {
    margin-right: 20vw;
}

/* shop */
#shopBanner {
    justify-content: center;
    margin-bottom: 8vh;
}

.bannerContainer {
    /* JQ未加 */
    display: inline-block;
    position: relative;
}

.bannerImg {
    height: 30vw;
    width: 70vw;
    margin-top: 30vh;
}

#shopBanner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;

}

/* 商品 */

.cart {
    border: none;
    background-color: transparent;
    position: fixed;
    right: 5vw;
    top: 20vh;
}
.cart svg{
    width: 48px;
    height: 48px;
}
#items {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20vh;
}

.row {
    height: 20vw;
    width: 60vw;
    padding: 3vh 0;
    display: flex;
    justify-content: space-between;
}

.item {
    width: 20%;
}

.imgContainer {
    position: relative;
    display: inline-block;

}

.imgItem {
    border-radius: 20px;
    width: 10vw;
    height: 10vw;
}

.plus {
    position: absolute;
    background-color: transparent;
    bottom: 5%;
    right: 5%;
    border: none;
}
.plus svg{
    width: 2.5vw;
    height: 2.5vw;
}
.it01 {
    background-image: url(./img/illus/Staircase.jpg);
    background-size: cover;
}

.it02 {
    background-image: url(./img/illus/Moai.jpg);
    background-size: cover;
}

.it03 {
    background-image: url(./img/illus/Chaos.jpg);
    background-size: cover;
}

.it04 {
    background-image: url(./img/illus/call\ me.jpg);
    background-size: cover;
}

.it05 {
    background-image: url(./img/plastic/2022/a03.jpg);
    background-size: cover;
}

.it06 {
    background-image: url(./img/plastic/2022/c01.jpg);
    background-size: cover;
}

.it07 {
    background-image: url(./img/plastic/2022/b01.jpg);
    background-size: cover;
}

.it08 {
    background-image: url(./img/plastic/2018/03.jpg);
    background-size: cover;
}


.productName {
    display: block;
    font-family: Chivo;
    color: var(--white);
    font-weight: 800;
    padding-top: 3vh;
    font-size: 1.5rem;
}

.price {
    display: block;
    font-family: Chivo;
    color: var(--blue);
    font-weight: 800;
    padding-top: 10px;
    font-size: 1.5rem;
    
}

/* product */

.container{
    display: flex;
    justify-content: center;

}
.infoContainer{
    width: 65vw;
    height: 60vh;
    margin: 25vh 0;
    border: 1px solid black;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
}
#productImg{
    width: 45%;
    border: 1px solid white;
}
#productInfo{
    width: 45%;
    border: 1px solid white;

}
